@import url('/home/rodrigo/.cache/wal/colors-waybar.css');


window {
    background-color: alpha(@background, 0.7);
}

button:hover {
    background-image: none;
    background: @color2;
    box-shadow: none;
    border-color: transparent;
}

button:hover>image {
    -gtk-icon-shadow: none;
    -gtk-icon-effect: none;
}

.highlighted-button {
    background-image: none;
    box-shadow: none;
    background-color: transparent;
    border: solid 2px @color11;
}

.highlighted-button>image, .highlighted-button:hover>image {
    -gtk-icon-effect: highlight;
}
