@import url('/home/rodrigo/.cache/wal/colors-waybar.css');


#window {
    background: alpha(@background,0.7);
    border-radius: 5px;
}
#outer-box {


}
#input {
background: transparent;
border: solid 0px transparent;
margin: 20px 150px;
}
#scroll {

}

#inner-box {
margin: 25px;
}
#img {

}
#text {
font-size:14px;
padding:10px;
}
#entry {
}



#entry:selected {
background: transparent;
color: #ffffff;

}


#expander-box {

}
