@import '/home/rodrigo/.cache/wal/colors-waybar.css';

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-image: url("/usr/share/sddm/themes/silent/backgrounds/background");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: @background;
}

button {
    border-radius: 10px;
    border-color: @background;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: alpha(@background,0.9);
	border-style: solid;
	border-width: 2px;
	margin: 5px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active {
	background-color: alpha(@color2,0.9);
	outline-style: none;
}
button:hover {
	border-color: @color11;
	background-color: alpha(@color2,1);
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}
#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}
#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}
#windows {
    background-image: image(url("/usr/share/wlogout/icons/windows.png"), url("/usr/local/share/wlogout/icons/windows.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
