@define-color foreground #c3c5c5;
@define-color background #07221e;
@define-color cursor #c3c5c5;

@define-color color0 #07221e;
@define-color color1 #0043c1;
@define-color color2 #186bb6;
@define-color color3 #037cc5;
@define-color color4 #1377d6;
@define-color color5 #335cbd;
@define-color color6 #327ed9;
@define-color color7 #909a97;
@define-color color8 #28a2a2;
@define-color color9 #025cff;
@define-color color10 #2b90e9;
@define-color color11 #0da5fe;
@define-color color12 #3a9fff;
@define-color color13 #6686db;
@define-color color14 #6fabf7;
@define-color color15 #c3c5c5;
