@import url('/home/rodrigo/.cache/wal/colors-waybar.css');

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: NotoSans NF Med, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

window#waybar {
    background-color: alpha(@background,0.7);
    border-bottom: 0px solid;
    border-image: linear-gradient(to right, @color11, @color13);
    border-image-slice: 1;

    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -2px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -2px #ffffff;
}



#workspaces button {

    background-color: transparent;
    color: rgba(255,255,255,0.2);
    padding: 0px 8px 0px 8px;
    margin: 0px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.0);
}

#workspaces button.empty {
    color: rgba(255,255,255,0.2);
}


#workspaces button.focused {
    box-shadow: inset 0 -2px #ffffff;
}

#workspaces button.urgent {
    color: #eb4d4b;
    text-shadow: 1px 1px 2px black;
    background-color: @color8;
}

#workspaces button.active {
background: rgba(255, 255, 255, 0);
color: rgba(255,255,255,1);
}

#workspaces .taskbar-window {
    padding: 0px 5px 4px 5px;
}

#workspaces .taskbar-window {
}

#workspaces .taskbar-window.active {

}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -2px #ffffff;
}

#custom-launcher,
#custom-app1,
#custom-app2,
#custom-app3,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-power,
#submap,
#keyboard-state,
#custom-updates,
#custom-notification,
#language {
    padding: 0px 10px;
    color: #ffffff;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

#window,
#workspaces {
    margin: 0 4px;
}


#mpris {
padding: 2px 10px 0px 10px;
}

#mpris:hover {
background: rgba(0, 0, 0, 0.2);
box-shadow: inset 0 -2px #ffffff;
}


#mpris.paused {
    color: rgba(255,255,255,0.5);

}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    padding: 2px 12px 0px 11px;
    font-size: 14px;
}

#clock:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 -2px #ffffff;
}

#battery {
}

#battery.charging, #battery.plugged {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @color8;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #ffffff;
}

label:focus {
    background-color: #ffffff;
}

#cpu {
}

#memory {
}

#disk {
}

#backlight {
}

#network {
}

#network.disconnected {
    background-color: @color8;
}

#wireplumber {
    padding: 0px 14px 0px 10px;
}


/* you can set a style on hover for any module like this */
#wireplumber:hover {
background: rgba(255, 255, 255, 0.1);
box-shadow: inset 0 -2px #ffffff;
}

#wireplumber.muted {
    background-color: @color8;
    color: #ffffff;
}


#temperature {
}

#temperature.critical {
    background-color: @color8;
}

#tray {

}

#tray:hover {
background: rgba(255, 255, 255, 0.1);
box-shadow: inset 0 -2px #ffffff;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @color8;
}

#idle_inhibitor {
padding-right: 17px;
}

#idle_inhibitor.activated {
    background-color: @color8;
    color: #ffffff;
}


#language {
    padding: 0 5px;
    margin: 0 0px;
    min-width: 16px;
}


#submap {
    background: @color8;
    min-width: 16px;
}


#submap:hover {
background: rgba(255, 255, 255, 0.1);
box-shadow: inset 0 -2px #ffffff;
}

#keyboard-state {
    padding: 0 0px;
    margin: 0 0px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: @color8;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: @color8;
}

#privacy-item.audio-in {
    background-color: @color8;
}

#privacy-item.audio-out {
    background-color: @color8;
}

#custom-launcher {
    background-color: @color8;
    padding: 2px 16px 0px 15px;
    color: #ffffff;
    font-size: 16px;
}

#custom-launcher:hover {
background-color: rgba(255,255,255,0.1);
box-shadow: inset 0 -2px #ffffff;
}


#custom-updates {
    background: transparent;
    padding: 2px 12px 0px 10px
}

#custom-updates:hover {
    background-color: rgba(255,255,255,0.1);
    box-shadow: inset 0 -2px #ffffff;
}

#custom-updates.updated {
    background: transparent;
    box-shadow: none;
    margin: 0px;
    padding:0px;
}

#custom-notification {
    font-family: "NotoSansMono Nerd Font";
    padding: 2px 14px 0px 10px;
}

#custom-notification.notification {
}

#custom-notification:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -2px #ffffff;
}


#custom-recorder {
    padding: 0px 14px 0px 10px;
    color: red;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}
#custom-recorder.recording {
    background-color: transparent;
}
#custom-recorder.iddle {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}

#custom-app1,
#custom-app2,
#custom-app3 {
padding: 2px 15px 0px 15px;
color: #ffffff;
}

#custom-app1:hover,
#custom-app2:hover,
#custom-app3:hover {
background: rgba(0, 0, 0, 0.2);
box-shadow: inset 0 -2px #ffffff;
}

#custom-power {
padding: 2px 12px 0px 15px;
background-color: @color8;
font-size: 14px;
}

#custom-power:hover {
background-color: rgba(255,255,255,0.1);
box-shadow: inset 0 -2px #ffffff;
}
